<!DOCTYPE html>
<html>
<head>
  <title>My Profile</title>
  <!-- Include necessary stylesheets and scripts here -->
  <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <!-- Navigation Bar -->
        <nav>
            <div class="logo">
                <h1><a href="index.html">Streaks</a></h1>
            </div>
            <div class="navbar-links">
                <a href="profile.html">Profile</a>
                <button id="logout-btn">Logout</button>
            </div>
        </nav>
    </header>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
  <div class="calendar-graph">
    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
    <script>
var xValues = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
var yValues = [1,2,3,4,5,6,7];
var barColors = 'rgba(54, 162, 235, 0.2)';

new Chart("myChart", {
  type: "horizontalBar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    scales:{
    Values: {
        beginAtZero: true
    }
    },
    title: {
      display: true,
      text: "Streaks"
    }
  }
});
        </script>

<script src="script.js"></script>
        
  </div>
</body>


</html>
